S3method(summary,ALKr)
export(age_slicing)
export(calc_ALK)
export(calc_invALK)
export(classic_ALK)
export(gascuel)
export(hoenig)
export(hoenig_heisey)
export(inverse_ALK)
export(kimura_chikuni)
exportClasses(ALKr)
exportClasses(summary_ALKr)
import(MASS)
import(methods)
import(Rcpp)
useDynLib(ALKr)
